<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/employee/save}" method="post">
    	<p>Id: <input type="text" name="empId" /></p><br>
        <p>Employee Name: <input type="text" name="empName" /></p>		<br>
		<p>Employee Role: <input type="text" name="empRole" /></p>		<br>
        <p><input type="submit" value="emp" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>